<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Query</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles4.css') }}">
</head>
<body>
    <h1 class="title">Movie Query</h1>
    <form action="/" method="post" id="search-form">
        <label for="query">Enter SQL Query:</label>
        <input type="text" name="query" id="query" required placeholder="example : 10 best movies released between 1997 and 2005">
        <button type="submit" id="search-button">Search</button>
    </form>

    <div id="results-section">
        {% if sql_query %}
        <h3>Query created by GPT:</h3>
        <p>{{ sql_query }}</p>
            {% if succed == False %}
            <h3>error with the query, reformulate your request </h3>
            {% endif %}
        {% endif %}

        {% if movies %}
        <h2>Results:</h2>
        <table id="results-table">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Year of Production</th>
                <th>IMDB Score</th>
                <th>Duration</th>
            </tr>
            {% for movie in movies %}
            <tr class="result-row">
                <td>{{ movie[1] }}</td>
                <td>{{ movie[2] }}</td>
                <td>{{ movie[3] }}</td>
                <td>{{ movie[4] }}</td>
                <td>{{ movie[5] }}</td>
            </tr>
            {% endfor %}
        </table>

        {% elif not movies and call == True %}
            <h2>No movies found.</h2>
        {% endif %}
    </div>

    <div id="loading" style="display: none;">
        <div class="spinner"></div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>